<div class="details-container">
  <div class="order-overview" *ngIf="order">
    <div class="col">
      <div class="row">
        Aanmaak datum:
      </div>
      <div class="row">
        {{order.dateCreated}}
      </div>
    </div>
    <div class="col">
      <div class="row">
        Gebruiker id:
      </div>
      <div class="row" >
        {{order.userId}}
      </div>
    </div>
    <div class="status col">
      <div class="row">
        <label>Status</label>
      </div>
      <div class="row select">
        <label for="status">Wijzig status</label>
            <select id="status" (change)="updateStatus($event)"
              [formControl]="status">
              <option value="Geregistreerd">Geregistreerd</option>
              <option value="In behandeling">In behandeling</option>
              <option value="Verzonden">Verzonden</option>
              <option value="Bezorgd">Bezorgd</option>
            </select>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <button type="button" (click)="deleteOrder()">Verwijder</button>
      </div>
    </div>
  </div>
  <div class="item-overview" >
    <div class="item" *ngFor="let item of items">
      <div class="col">
        <div class="row">
          Aantal
        </div>
        <div class="row">
          {{item.amount}}
        </div>
      </div>
      <div class="col">
        <div class="row">
          Product
        </div>
        <div class="row">
          {{item.product.name}}
        </div>
      </div>
    </div>
  </div>
</div>
